body{
  justify-content: center;
  display: grid;
}

.header{
  text-align: center;
}

.input-form{
  display: grid;
  grid-template-columns: repeat(12,minmax(0,1fr));
  gap: 0.5rem;
}

.input-text{
  grid-column: span 10/span 10;
  padding: 0.75rem;
  border-radius: 5px;
  border-width: 2px;
  border-color: rgb(251,191,36);
  background-color: white;
}

.input-text :focus{
  border-color: rgb(251,191,36)
}

.input-btn{
  color: white;
  font-size: 35px;
  grid-column: span 2/span 2;
  background-color: rgb(16,185,129);
  border-radius: 5px;
  border: none;
}

.input-btn:hover{
  background-color: rgb(52,211,153)
}

.list-work{
  width: 30rem;
  border-radius: 7px;
  min-height: 30rem;
  padding: 2rem;
  background-color:  #FEF3C7;
  margin-top: 30px;
  font-family: 'Pangolin', cursive;
}

.list-work-top{
  display: flex;
  justify-content: space-between;
}

#status{
  height: 35px;
  width: 75px;
  border-radius: 10px;
  border-width: 2px;
  border-color: #B45309;
}

.list-work-top-p{
  color: #B45309;
  font-size: 23px;
  margin: 0;
}

ul{
  list-style: none;
  padding: 0;
}

.work-item{
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
  color : #000;
  font-size: 1.5rem;
  line-height: 2rem;
  border-bottom: 1px solid rgb(251,191,36);
}

.delete-icon{
  background-color: inherit;
  border: none;
  opacity: 0;
}

.work-item:hover .delete-icon{
  opacity: 1;
  color: #B45309;
}

i{
  font-size: 20px;
}